.Creation {
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  margin: auto;
  /* margin-top: 40px; */
}
.Box-Competence {
  /* background-color: rgb(226, 104, 43);  */
  /* height: 20vh; */
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}
.BoxAllSite {
  /* background-color: darkolivegreen; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  padding: 20px 0px;
  width: 100%;
}
