@import "./Content/Contact/Contact.css";
@import "./Content/Creation/Creation.css";
@import "./Content/Home/Home.css";
@import "./Content/SitePage/SitePage.css";

@import "./Components/AllWebSite/AllWebSite.css";
@import "./Components/Competence/Competence.css";
@import "./Components/Footer/Footer.css";
@import "./Components/Header/Header.css";
@import "./Components/Icon/Icon.css";
@import "./Components/Languages/Language.css";
@import "./Components/MoreInfo/MoreInfo.css";
@import "./Components/Presentation/Presentation.css";
@import "./Components/Site/Site.css";

:root {
  --principal-color: #0f191e;
  --text-dark: #2b2832;
  --text-white: white;
  --text-sd-white: #1d2734;
}
html {
  /* background-color: rgb(217, 126, 182); */
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
